---
auth: [
{ title: "Login",          name: "login",          type: "text",        placeholder: "Login"},
{ title: "Password",       name: "password",       type: "password",    placeholder: "Password"}]
---
<html>
    <head>
        <link rel="stylesheet" href="login.sass"/>
    </head>
    <body>
        <main class="login-page">
            <form class="login-form">
                <h3>Monochrome</h3>
                <label for="login">Login</label>
                <input type="text" placeholder="Email or Phone" id="login">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password">
                <button>Sign In</button>
                <button>Create account</button>
            </form>
        </main>
    </body>
</html>
