{{>layout}}
<main>
    {{>logo}}
    <h1 class="page__enter">Вход</h1>
    <form class="login-page__form">
        <div class="login-page__input-form">
            <input type="text" placeholder="логин" class="login-page__input">
            <input type="password" placeholder="пароль" class="login-page__input">
        </div>
    </form>
    {{>button button_title="АВТОРИЗОВАТЬСЯ" add_class="login-page__auth-button"}}
    {{>button button_title="зарегистрироваться" add_class="login-page__reg-button"}}
</main>
