<html>
    <head>
        <link rel="stylesheet" href="login.sass"/>
    </head>
    <body>
        <main class="login-page">
            <h1 class="login-header">MONOCHROME</h1>
            <form class="login-form">
                <div class="login-input">
                    <input type="text" placeholder="login" id="login">
                    <input type="password" placeholder="password" id="password">
                </div>
            </form>
        <button>Sign In</button>
        <button>Create account</button>
        </main>
    </body>
</html>
