  <main class="chat__container">
    {{{sidebar}}}
    {{#if currentChat}}
        {{{messagePanel}}}
    {{else}}
        <section class="chat__chat">Выберите чат чтобы отправить сообщение</section>
    {{/if}}
  </main>
