<section class="modal">
    <div class="modal__content-container">
        {{{close}}}
        <h5 class="modal__header">Создать новый чат</h5>
        <form id="modal">
            <input type="text" name="chatName" class="input">
            <label for="chatName" class="sidebar-user-chat__chat-text-preview">Введите название чата</label>
            {{{button}}}
        </form>
    </div>
</section>
