{{>layout}}
<main>
    {{>logo}}
    <div class="page__enter">
        <p id="number">500<p>
        <p id="description">Уже чиним</p>
    </div>
    <a class="link-to-chats" href="http://localhost:1234/">Назад к чатам</a>
</main>
