.error__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error__header {
  @mixin text #1E1E1E, 4.0rem, 4.0rem;
  margin-bottom: 2.0rem;
}

.error__description {
  @mixin text #1E1E1E, 2.0rem, 2.0rem;
}

.error__link {
  @mixin text var(--main-blue), 1.1rem, 1.1rem;
  text-decoration: none;
  margin-top: 6.9rem;
}