@import url("./variables.pcss");

@define-mixin text $color: var(--text-color), $fontSize: 2.0rem, $lineHeight:2.0rem, $fontWeight:500 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  text-align: center;
  color: $color
}