:root {
  --main-blue: #3369F3;
  --text-color: #1E1E1E;
  --main-bg-color: #FFFFFF;
  --form-bg-color: #FFFFFF;
  --btn-text-color: #FFFFFF;
  --label-text-color: #999999;
  --profile-input-border: #EAEAEA;
}