{{>layout}}
<main>
    {{>logo}}
    <h1 class="page__enter">Регистрация</h1>
    <form class="register-page__form">
        <div class="register-input">
            <input type="email" placeholder="почта">
            <input type="text" placeholder="логин">
            <input type="text" placeholder="имя">
            <input type="text" placeholder="фамилия">
            <input type="text" placeholder="телефон">
            <input type="password" placeholder="пароль">
            <input type="password" placeholder="пароль (еще раз)">
        </div>
    </form>
    {{>button button_title="СОЗДАТЬ АККАУНТ" add_class="register-page__create-btn"}}
    {{>button button_title="войти" add_class="register-page__sign-btn"}}
</main>

