<html lang="">
<head>
    <link rel="stylesheet" href="./registration.sass"/>
</head>
<body>
<main class="login-page">
    <h1 class="login-header">MONOCHROME</h1>
    <h1 class="login-enter">Регистрация</h1>
    <form class="login-form">
        <div class="login-input">
            <input type="email" placeholder="почта" id="email">
            <input type="text" placeholder="логин" id="login">
            <input type="text" placeholder="имя" id="name">
            <input type="text" placeholder="фамилия" id="surname">
            <input type="text" placeholder="телефон" id="number">
            <input type="password" placeholder="пароль" id="password">
            <input type="password" placeholder="пароль (еще раз)" id="password">
        </div>
    </form>
    <button class="button btn-authorize">СОЗДАТЬ АККАУНТ</button>
    <button class="button btn-register">войти</button>
</main>
</body>
</html>
