<div>
    <nav>
        <ul>
            <li>
                <a href="../login/login.hbs">Login</a>
            </li>
            <li>
                <a href="../register/register.hbs">Registration</a>
            </li>
            <li>
                <a href="../chats/chats.hbs">Chats</a>
            </li>
            <li>
                <a href="../profile/profile.hbs">Profile</a>
            </li>
            <li>
                <a href="../change_personal_data/change_personal_data.hbs">Change personal data</a>
            </li>
            <li>
                <a href="../clientError/404.hbs" >404 ERROR</a>
            </li>
            <li>
                <a href="../serverError/500.hbs">500 ERROR</a>
            </li>
        </ul>
    </nav>
</div>

