{{>main}}
<main class="err__data">
    {{>logo/logo}}
    <img class="err__image" src="../../static/img/cat_err.png" alt="Картинка ошибки"/>
    <div class="err-page__header">
        <span class="span_err">404</span>
        <p class="err_description">Ничего не найдено</p>
        <br/>

        <a class="link-to-chats" href="http://localhost:1234/">Назад к чатам</a>
    </div>
</main>
