  <section class="modal" id="changeAvatarModal">
    <div class="modal__content-container">
      <h5 class="modal__header">Загрузите файл</h5>
      <form id="modal" class="changeAvatarForm">
        <input type="file" name="avatar" accept="image/png, image/jpeg" class="modal__input">
        <label for="avatar" class="modal__content">Выбрать файл на компьютере</label>
        {{{button}}}
      </form>
    </div>
  </section>
