{{>main}}
<main>
    <div class="page-chat">
        <div class="all-chats">
        </div>
        <div class="current-chat">
            <div class="current-chat__header">
                <a class="button-chat">Тест</a>
            </div>
        </div>
    </div>
</main>
