<main>
    <div class="page-chat">
        <div class="all-chats">
            <div class="chat-header">
                <div class="logo logo-mini header-part">
                    <span>MONOCHROME</span>
                </div>
                <div class="btn-profile header-part">
                    <span>ПРОФИЛЬ</span>
                </div>
            </div>
            <div class="chat-search">
                <input id="chat-search" type="text">
                <label for="chat-search">
                    <img class="chat-search-icon" src="../../../static/img/search-icon.png" alt="Аватар"/>
                </label>
            </div>
            <div class="all-contacts">
                {{{contact1}}}
                {{{contact2}}}
            </div>
        </div>
        <div class="current-chat">
            <div class="current-chat-wrapper">
                <div class="chat-header">
                    <div class="contact-profile header-part">
                        <span>Андрей</span>
                    </div>
                    <div class="contact-menu header-part">
                        <span>МЕНЮ ЧАТА</span>
                    </div>
                </div>
                <div class="current-chat-messages">
                    <div class="current-chat-message message-user">
                    </div>
                    <div class="current-chat-message message-user">
                    </div>
                    <div class="current-chat-message message-contact">
                    </div>
                    <div class="current-chat-message message-user">
                    </div>
                    <div class="current-chat-message message-contact">
                    </div>
                </div>
                <div class="send-message-wrapper">
                    <input id="send-message" type="text">
                    <label for="send-message">
                        <img class="send-message-icon" src="../../../static/img/search-icon.png" alt="Аватар"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
</main>
