<main class="container authorization">
    <form class="form" id="form">
        <h5 class="form__header">Вход</h5>
        <section class="form__inputs-container">
            {{{input}}}
            {{{input2}}}
        </section>
        <span class="form-error"></span>
        {{{button}}}
        {{{registration}}}
    </form>
</main>
