{{>layout}}
<main class="nf__data">
    {{>logo}}
    <img class="nf__image" src="../../../static/img/cat_err.png" />
    <div class="nf-page__header">
       <span class="nf__nf">404</span>
       <p>Ничего не найдено</p>
        <br/>

       <a class="link-to-chats" href="http://localhost:1234/">Назад к чатам</a>
    </div>
</main>

