<html lang="">
<head>
    <link rel="stylesheet" href="./404.sass"/>
</head>
<body>
<main class="error-page">
    <h1 class="error-header">MONOCHROME</h1>
    <div class="error-description">
       <p id="number">404<p>
       <p id="description">Страница не найдена</p>
    </div>
    <a class="link-to-chats" href="http://localhost:1234/">Назад к чатам</a>
</main>
</body>
</html>
