<html>
    <head>
        <link rel="stylesheet" href="style.sass"/>
        <title>Monochrome</title>
    </head>
    <body>
        <div>
        <a href="./pages/login/login.hbs">Login</a>
            <a href="./pages/registration/registration.hbs">Registration</a>
            <a href="./pages/404/404.hbs" >404</a>
            <a href="./pages/500/500.hbs">500</a>
            <a href="./pages/chats/chats.hbs" >Chats</a>
        </div>
    </body>
</html>
