<html>
<head>
    <link rel="stylesheet" href="style.sass"/>
    <title>Monochrome</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="./pages/login/login.hbs">Login</a>
        </li>
        <li>
            <a href="./pages/register/register.hbs">Registration</a>
        </li>
        <li>
            <a href="./pages/chats/chats.hbs">Chats</a>
        </li>
        <li>
            <a href="./pages/profile/profile.hbs">Profile</a>
        </li>
        <li>
            <a href="./pages/change_personal_data/change_personal_data.hbs">Change personal data</a>
        </li>
        <li>
            <a href="./pages/404.hbs" >404 ERROR</a>
        </li>
        <li>
            <a href="./pages/500.hbs">500 ERROR</a>
        </li>
    </ul>
</nav>
</body>
</html>
