@import "normalize.css"

@import "./src/partials/logo/logo.sass"
@import "../src/partials/button/button.sass"

@import "./src/pages/login/login.sass"
@import "./src/pages/registration/registration.sass"
@import "./src/pages/500/500.sass"
@import "./src/pages/404/404.sass"



html
  background-color: #151515

.page__enter
  text-align: center
  padding-top: 50px
  color: #FFFFFF
  font-size: 64px
  font-family: 'Inter', sans
  font-style: normal
  font-weight: 400
  line-height: 77px
